$color1: #E5E1DC;
$color2: rgb(236, 241, 236);
$color3: #f4f5f8;
$color4: rgb(53, 103, 87);
$color5: white;
$color6: cadetblue;
$color7: #666666;
$color8:#f2f2f2;

$paleta:(fuego:#CEC4C1, tierra:#96A69B, metal:#DDE1E0, agua:#637388, madera:#E5DECC);
