$font1:'Poppins', sans-serif;

@mixin titulosS {
    font-family: $font1;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: $color4;
}

@mixin titulosG {
    font-family: $font1;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    color: $color4;
}

@mixin botones {
    background-color: $color6;
    border: none;
    &:hover {
        background-color: $color4;
    }
}