* {
  margin: 0;
  padding: 0;
}

/*header*/
header, footer {
  background-color: #f2f2f2;
}
header img, footer img {
  width: 130px;
  height: 40px;
}
header .navbar-toggler, footer .navbar-toggler,
header .navbar-toggler-icon,
footer .navbar-toggler-icon,
header .nav-link,
footer .nav-link {
  color: #96A69B;
  border: none;
  font-family: "Poppins", sans-serif;
}
header .navbar-toggler:hover, footer .navbar-toggler:hover,
header .navbar-toggler-icon:hover,
footer .navbar-toggler-icon:hover,
header .nav-link:hover,
footer .nav-link:hover {
  color: cadetblue;
  font-weight: bolder;
}

.navbar, #tituloyoga,
#titulohola,
.titulo-yogasection {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section {
  font-family: "Poppins", sans-serif;
}

/*portadas*/
.carousel-item {
  max-height: 550px;
}
.carousel-item .carousel-caption {
  position: absolute;
  margin-bottom: 250px;
  color: rgb(53, 103, 87);
}

#portadahola,
#portadayoga,
#portadafeng {
  border: none;
}

#house-home1 .card-title, #house-home2 .card-title, #tituloyoga .card-title {
  width: 35%;
  height: 50%;
  margin-left: 10%;
  font-family: "Poppins", sans-serif;
  font-size: 4vw;
  color: #96A69B;
  font-weight: bold;
  text-align: left;
}
#house-home1 .card-text, #house-home2 .card-text, #tituloyoga .card-text {
  width: 35%;
  height: 50%;
  margin-left: 10%;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  font-weight: normal;
  color: #637388;
}

#house-home2 .card-title, #tituloyoga .card-title {
  font-size: 3vw;
  height: 25%;
}
#house-home2 .card-text, #tituloyoga .card-text {
  font-size: 1.5vw;
  height: 35%;
}

#tituloyoga {
  text-align: center;
  margin-left: 30%;
  margin-top: 5%;
}
#tituloyoga .card-title {
  text-align: center;
  margin-bottom: 20px;
}

/*home*/
#section-home {
  margin: 0;
  background-color: #f4f5f8;
}
#section-home h3 {
  padding-top: 50px;
  text-align: center;
  color: #666666;
}
#section-home #homeextra {
  padding: 5%;
}
#section-home #homeextra .col {
  justify-content: center;
}
#section-home #homeextra .card {
  background-color: transparent;
  border: none;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 10%;
}
#section-home #homeextra .card .card-body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
#section-home #homeextra .card img {
  width: 80px;
  height: 80px;
}
#section-home #homeextra .card .card-text {
  font-size: 14px;
}
#section-home #homeextra .card .btn {
  background-color: transparent;
  color: #666666;
  border: none;
  font-weight: bolder;
}

#card-home {
  background-color: #96A69B;
  color: #f4f5f8;
  font-size: 16px;
  padding: 20px;
}
#card-home .btn {
  background-color: cadetblue;
  border: none;
  margin-top: 10px;
  background-color: #637388;
}
#card-home .btn:hover {
  background-color: rgb(53, 103, 87);
}

/*lifestyle*/
.pelotita {
  margin: 5%;
  -webkit-animation: animacionfeng 6s linear 0s infinite normal forwards;
          animation: animacionfeng 6s linear 0s infinite normal forwards;
}

@-webkit-keyframes animacionfeng {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animacionfeng {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*feng shui*/
.animacionyoga {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-animation: yoga 5s infinite ease-in-out;
          animation: yoga 5s infinite ease-in-out;
}
.animacionyoga div:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  background-color: #CEC4C1;
}
.animacionyoga div:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-color: #96A69B;
}
.animacionyoga div:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  background-color: #637388;
}
.animacionyoga div:nth-child(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-color: #DDE1E0;
}
.animacionyoga div:nth-child(5) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  background-color: #E5DECC;
}

@-webkit-keyframes yoga {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes yoga {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/*contacto*/
.portadacontacto {
  width: 100%;
  height: 550px;
  background: linear-gradient(to bottom, #f2f2f2, #e7eaf2, #bbcdce);
  background-position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portadacontacto .contacto {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: formulario;
          animation-name: formulario;
}
.portadacontacto .contacto .btn {
  background-color: cadetblue;
  border: none;
}
.portadacontacto .contacto .btn:hover {
  background-color: rgb(53, 103, 87);
}

@-webkit-keyframes formulario {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: 30px;
  }
}

@keyframes formulario {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: 30px;
  }
}
/*footer*/
footer {
  height: 100px;
  padding-top: 30px;
}
footer img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 576px) {
  /*hola*/
  #titulohola {
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: rgb(53, 103, 87);
  }
  #cardhola,
#cardfeng,
#cardfeng2,
#cardfeng3 {
    margin: 20px;
    font-size: 12px;
    text-align: center;
    color: #666666;
    background: rgb(236, 241, 236);
  }
  #cardhola .btn,
#cardfeng .btn,
#cardfeng2 .btn,
#cardfeng3 .btn {
    background-color: cadetblue;
    border: none;
  }
  #cardhola .btn:hover,
#cardfeng .btn:hover,
#cardfeng2 .btn:hover,
#cardfeng3 .btn:hover {
    background-color: rgb(53, 103, 87);
  }
  /*yoga*/
  .titulo-yogasection {
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: rgb(53, 103, 87);
  }
  .pelotitas {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .pelotitas img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
  .pelotita {
    width: 30px;
    height: 30px;
  }
  #sectionyoga {
    font-size: 10px;
    padding: 10px;
    row-gap: 20px;
  }
  #sectionyoga #card-yoga1,
#sectionyoga #card-yoga2,
#sectionyoga #card-yoga3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #666666;
    background-color: #f4f5f8;
    text-align: justify;
  }
  #sectionyoga #card-yoga1 .asanas,
#sectionyoga #card-yoga2 .asanas,
#sectionyoga #card-yoga3 .asanas {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  #sectionyoga #card-yoga1 .btn,
#sectionyoga #card-yoga2 .btn,
#sectionyoga #card-yoga3 .btn {
    background-color: cadetblue;
    border: none;
  }
  #sectionyoga #card-yoga1 .btn:hover,
#sectionyoga #card-yoga2 .btn:hover,
#sectionyoga #card-yoga3 .btn:hover {
    background-color: rgb(53, 103, 87);
  }
  #boton-feng {
    background-color: cadetblue;
    border: none;
  }
  #boton-feng:hover {
    background-color: rgb(53, 103, 87);
  }
  /*contacto*/
  .contacto {
    margin: 30px;
    text-align: left;
    color: cadetblue;
    font-size: 12px;
  }
}
@media screen and (min-width: 576px) {
  /*hola*/
  #titulohola {
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    color: rgb(53, 103, 87);
    margin-bottom: 50px;
  }
  #textohola {
    font-size: 16px;
    text-align: center;
    margin: 50px;
  }
  #cardhola,
#card-links,
#card-links2,
#cardfeng,
#cardfeng2,
#cardfeng3 {
    margin: 50px;
    color: #666666;
    background: rgb(236, 241, 236);
  }
  #cardhola .btn,
#card-links .btn,
#card-links2 .btn,
#cardfeng .btn,
#cardfeng2 .btn,
#cardfeng3 .btn {
    background-color: cadetblue;
    border: none;
  }
  #cardhola .btn:hover,
#card-links .btn:hover,
#card-links2 .btn:hover,
#cardfeng .btn:hover,
#cardfeng2 .btn:hover,
#cardfeng3 .btn:hover {
    background-color: rgb(53, 103, 87);
  }
  /*hola*/
  /*yoga*/
  .titulo-yogasection {
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    color: rgb(53, 103, 87);
  }
  .pelotitas {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .pelotitas img {
    width: 50px;
    height: 50px;
    margin: 15px;
  }
  .pelotita {
    width: 60px;
    height: 60px;
  }
  #sectionyoga {
    padding: 20px;
    row-gap: 10px;
  }
  #sectionyoga #card-yoga1,
#sectionyoga #card-yoga2,
#sectionyoga #card-yoga3 {
    align-items: center;
    color: #666666;
    background-color: #f4f5f8;
    padding-bottom: 20px;
  }
  #sectionyoga #card-yoga1 .asanas,
#sectionyoga #card-yoga2 .asanas,
#sectionyoga #card-yoga3 .asanas {
    height: 400px;
    width: 300px;
    border-radius: 8px;
  }
  #sectionyoga #card-yoga1 .btn,
#sectionyoga #card-yoga2 .btn,
#sectionyoga #card-yoga3 .btn {
    background-color: cadetblue;
    border: none;
  }
  #sectionyoga #card-yoga1 .btn:hover,
#sectionyoga #card-yoga2 .btn:hover,
#sectionyoga #card-yoga3 .btn:hover {
    background-color: rgb(53, 103, 87);
  }
  /*contacto*/
  .contacto {
    margin: 50px;
    padding: 20px;
    text-align: left;
    color: cadetblue;
  }
}/*# sourceMappingURL=stylenuevo.css.map */