@import "colores";
@import "textos";

* {
    margin: 0;
    padding: 0;
}

/*header*/
header {
    background-color:$color8;
    img {
        width: 130px;
        height: 40px;
    }
    .navbar-toggler,
    .navbar-toggler-icon,
    .nav-link {
        color: map-get($map: $paleta, $key: tierra);
        border:none;
        font-family: $font1;
        &:hover {
            color: $color6;
            font-weight: bolder;
        }
    }
}

.navbar {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

#tituloyoga,
#titulohola,
.titulo-yogasection {
    @extend .navbar;
}
 
@keyframes aparecer {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    
}

section {
    font-family: $font1;
}

/*portadas*/
.carousel-item {
    max-height: 550px;
    .carousel-caption {
        position: absolute;
        margin-bottom: 250px;
        color: $color4;
    }
}

#portadahola,
#portadayoga,
#portadafeng {
    border: none;
}

#house-home1 {
    .card-title {
        width: 35%;
        height: 50%;
        margin-left: 10%;
        font-family: $font1;
        font-size: 4vw;
        color: map-get($map: $paleta, $key: tierra);
        font-weight: bold;
        text-align: left;
    }
    .card-text {
        width: 35%;
        height: 50%;
        margin-left: 10%;
        font-family: $font1;
        font-size: 1.5vw;
        font-weight:normal;
        color: map-get($map: $paleta, $key: agua);
    }
}

#house-home2 {
    @extend #house-home1 ;
    .card-title {
        font-size: 3vw;
        height: 25%;
    }
    .card-text {
        font-size: 1.5vw;
        height: 35%;
    }
}

#tituloyoga  {
    @extend #house-home2 ;
    text-align: center;
    margin-left: 30%;
    margin-top: 5%;
    .card-title {
        text-align: center;
        margin-bottom: 20px;
    }
}

/*home*/
#section-home {
    margin: 0;
    background-color:$color3;
    h3 {
        padding-top: 50px;
        text-align: center;
        color: $color7;
    }
    #homeextra {
        padding: 5%;
        .col {
            justify-content: center;
        }
        .card {
            background-color: transparent;
            border: none;
            justify-content: center;
            text-align: center;
            width: 70%;
            margin: 10%;
            .card-body {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;

            }
            img {
                width: 80px;
                height: 80px;
            }
            .card-text {
                font-size: 14px;
            }
            .btn {
            background-color: transparent;
            color: $color7;
            border: none;
            font-weight: bolder;
        }
      }
    }
}

#card-home {
    background-color: map-get($map: $paleta, $key: tierra);
    color: $color3;
    font-size: 16px;
    padding:20px;
    .btn {
        @include botones;
        margin-top: 10px;
        background-color: map-get($map: $paleta, $key: agua);
    }
}

/*lifestyle*/

.pelotita {
    margin: 5%;
    animation: animacionfeng 6s linear 0s infinite normal forwards;
}

@keyframes animacionfeng {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*feng shui*/

.animacionyoga {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: yoga 5s infinite ease-in-out;
    div:nth-child(1) {
        animation-delay: 0.5s;
        background-color: map-get($map: $paleta, $key: fuego);
    }
    div:nth-child(2) {
        animation-delay: 1s;
        background-color: map-get($map: $paleta, $key: tierra);
    }
    div:nth-child(3) {
        animation-delay: 1.5s;
        background-color: map-get($map: $paleta, $key: agua);
    }
    div:nth-child(4) {
        animation-delay: 2s;
        background-color: map-get($map: $paleta, $key: metal);
    }
    div:nth-child(5) {
        animation-delay: 2.5s;
        background-color: map-get($map: $paleta, $key: madera);
    }
}

@keyframes yoga {
	0%,
	100% {
		opacity: 0;
	}
    
    50% {
		opacity: 1;
	}
}

/*contacto*/
.portadacontacto {
    width: 100%;
    height: 550px;
    background: linear-gradient(to bottom, #f2f2f2, #e7eaf2,#bbcdce);
    background-position: relative;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    .contacto {
        animation-duration: 3s;
        animation-name: formulario;
        .btn {
            @include botones;
        }
    }

}

@keyframes formulario {
   0% {
       opacity:0;
       margin-top:0;
   }
   100% {
       opacity:1;
       margin-top:30px;
   }  
}

/*footer*/
footer {
    @extend header;
    height: 100px;
    padding-top: 30px;
    img {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 576px) {

/*hola*/

#titulohola {
    @include titulosS;
}

    #cardhola,
    #cardfeng,
    #cardfeng2,
    #cardfeng3 {
        margin:20px;
        font-size: 12px;
        text-align:center;
        color:$color7;
        background: $color2;
        .btn {
            @include botones;
        }
    }
    
/*yoga*/

    .titulo-yogasection {
       @include titulosS;
    }

    .pelotitas {
        width:40px;
        height: 40px;
        border-radius: 50%;
        img {
            width: 30px;
            height: 30px;
            margin: 5px;
        }
    }

    .pelotita {
        width: 30px;
        height: 30px;
    }

    #sectionyoga {
        font-size:10px;
        padding: 10px;
        row-gap: 20px;
        #card-yoga1,
        #card-yoga2,
        #card-yoga3 {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            color: $color7;
            background-color: $color3;
            text-align:justify;
            .asanas {
            width: 100px;
            height: 100px;
            margin:10px;
            }
            .btn {
                @include botones;
            }
        }        
    }
    #boton-feng {
        @include botones;
    }

    /*contacto*/
    .contacto {
        margin: 30px;
        text-align: left;
        color: $color6;
        font-size: 12px;
    }
}

@media screen and (min-width: 576px) {

/*hola*/
    #titulohola {
        @include titulosG;
        margin-bottom: 50px;
    }

    #textohola {
        font-size: 16px;
        text-align: center;
        margin:50px;
    }

    #cardhola,
    #card-links,
    #card-links2,
    #cardfeng,
    #cardfeng2,
    #cardfeng3 {
        margin: 50px;
        color:$color7;
        background: $color2;
        .btn {
            @include botones;
        }
    }

/*hola*/

/*yoga*/
    
    .titulo-yogasection {
        @include titulosG;
    }

    .pelotitas {
        width:80px;
        height: 80px;
        border-radius: 50%;
        img {
            width: 50px;
            height: 50px;
            margin: 15px;
        }
    }

    
    .pelotita {
        width: 60px;
        height: 60px;
    }

    #sectionyoga {
        padding: 20px;
        row-gap: 10px;
        #card-yoga1,
        #card-yoga2,
        #card-yoga3 {
        align-items: center;
        color:$color7;
        background-color: $color3;
        padding-bottom: 20px;
        .asanas {
            height: 400px;
            width: 300px;
            border-radius: 8px;
        }
        .btn {
            @include botones;
        }
    }
}
    
/*contacto*/
    .contacto {
        margin: 50px;
        padding: 20px;
        text-align: left;
        color: $color6;
    }
}